snippet main "cpp main"
int main()
{
	${1:put your code here}

	return 0;
}
${0}
endsnippet

snippet init "cpp init"
#include <iostream>
using namespace std;

int main()
{
	${1:put your code here}

	return 0;
}
${0}
endsnippet
